@media(min-width:500px) and (max-width:1024px){
    body{
        background-color: aquamarine;
    }

    #texto{
        display: none;
    }
}

.col-sm-12 {
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}

.col-md-6 {
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}

.col-lg-3 {
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}

.col-9 {
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}

.col-auto {
    margin-bottom: 15px;
    margin-top: 15px;
}

.especialistas {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 5px #BEADFA;
    background-color: #DFCCFB;
    text-align: justify;
}

#imagen {
    border: solid 5px #BEADFA;
    margin-right: 10px;
}

.titulo {
    text-align: center;
}

p {
    text-align: center;
}

/* Media Query

Responsive: Responde a un determinado factor o situación. Es la capacidad que tienen los elementos para ajustar a las ventanas (tanto en tamaño como en disposición)

CSS puro (Media Querys)

Una regla espacial que se ejecuta solo cuando se cumplen ciertas condiciones. Estas condiciones están relacionadas con las características de nuestro dispositivo, como el ancho de la pantalla, la orientación y la resolución.

La sintaxis de una media query es:

@media(parámetros o condiciones a cumplir) {
    estilos que se aplican cuando se cumple la condición
}



*/